body{
    background-color: rgb(216, 242, 250);
    margin: 0;
}

h1{
    font-size: 18vw;
    margin-top: 0px;
    text-align: center;
    position: top;
}

nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgb(136, 127, 243);
    z-index: 2;
    width: 100%;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
li{
    float: left;
    font-size: 2vw;
}

li a{
    display: block;
    color: beige;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#scrollknopf1, #scrollknopf2{
    display: none;
    background-color: rgb(136, 127, 243);
    color: beige;
    text-align: center;
    padding: 14px 16px;
    border: none;    
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-top: 1vw;
    font-size: 4vw;
}

div{
    border: 6px solid rgb(138, 145, 148);
    box-shadow: 10px 10px rgb(194, 212, 213);
    background-color: rgba(122, 122, 122, 0.2); 
    width: 95%;
    height: 47vw;
    margin-left: 2vw;
}


#punkt1{
    height: 95vw;
}
#punkt5{
    height: 95vw;
}
#fb{
    margin-bottom: 50px;
}
p{
    position: absolute;
}
aside{
    margin-top: 20vw;
    margin-bottom: 0;
    font-size: 4vw;
    opacity: 0.0;
    
}

h5{
    font-size: 6vw;
    text-align: center;
    margin-bottom: 4vw;
    margin-top: 1vw;
    
}

section{
    height: 70%;
    float: left;
    margin-left: 6vw;
}
#dunk{
    height: 50%;
}
#gerb{
    margin-left: 15vw;
}
#leb{
    height: 50%;
}
#farb{
    margin-left: 15vw;
}
img{
    width: inherit;
    height: inherit;
    border: 2px solid black;
    border-radius: 15px;
}


@media only screen and (max-width:625px){
    li{
        font-size: 3vw;
    }
    #l4, #l5, #l6{
        display: none;
    }
    #scrollknopf2{
        display: block;
    }
    div{
        width: 94%;
    }
    section{
        height: 67%;
    }
    #punkt5{
        height: 110vw;
    }
    #leb{
        height: 45%;
    }
    #dunk{
        margin-right: 10vw;
        margin-left: 8vw;
    }
}


.dropdown_container{
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    width: 15vw;
    height: 30vw;
    background-color: #d7e0ea;
    box-shadow: 0px 8px 16px 0px rgba(71, 71, 75, 0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: 2vw;
  }


.dropdown_container:hover .dropdown-content{
    display: block;
}

.show{
    display: block;
}

